.orderPage {
  padding: 45px 80px;
  .order {
    .delivery {
      background: #ffffff;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
      border-radius: 30px;
      padding: 20px 35px;
      margin-top: 20px;
      iframe {
        width: 100%;
        margin: 20px 0;
      }
      div {
        .input {
          background: #d6d6d6;
          border-radius: 15px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-right: 14px;
          margin-bottom: 20px;
          input {
            width: 100%;
            padding: 14px;
            border: none;
            outline: none;
            background: inherit;
            border-radius: 15px;
          }
        }
      }
    }
    a {
      background: #101010;
      box-shadow: 0px 0px 20px rgba(67, 216, 84, 0.25);
      border-radius: 10px;
      height: 45px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
    }
  }
}

.orderPageBlock {
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 20px;
  margin-top: 20px;
  .orderPageInput {
    background: #d6d6d6;
    border-radius: 15px;
    display: flex;
    padding: 5px 10px;
    input {
      border: none;
      outline: none;
      background: #d6d6d6;
      border-radius: 15px;
      padding: 4px;
      width: 100%;
    }
  }
  span {
    &:first-child {
      width: 30px;
    }
  }
  p {
    width: 50%;
  }
}
